{% extends "base.html" %}
{% block content %}
    <div id="messages"></div>
    {{ object }}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function addMessage(message) {
        $('#messages').append('<div class="alert">' +
            '<button type="button" class="close" data-dismiss="alert">' +
            '&times;</button>' + message + '</div>');
    };
    $.getJSON('/messages/', function(data){
        $.each(data, function(index, value) {addMessage(value.message)});
    });
</script>
{% endblock content %}